@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
body,*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fire Code', monospace;
}
img,form{
    height: 100%; width: 100%;
}
#root{
    height: calc(var(--vh)*100);
    width: 100vw;
    overflow: hidden;
}
.underTaker{
    height: 100%; width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    height: 13vh; width: 100%;
    background-color: rgb(79, 122, 224);
    display: flex;
    align-items: center;
    .logoDiv{
        background-color: #223f82;
        height: 100%;
    }
    img{
        width: 200px;
        object-fit: contain;
    }
    .userMenu{
        height: 100%; width: 50%;
        background-color: #223f82;
        border-radius: 0px 0px 50px 0px;
        display: flex;
        align-items: center;
        a{
            all: unset;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        ul{
            height: 100%; width: 100%;
            display: inline-flex;
            align-items: center;
            gap: 50px;
            margin-left: 50px;
            
            li{
                padding: 10px;
                list-style: none;
                color: white;
                font-size: larger;
                font-weight: bold;
                cursor: pointer;
                transition: .3s;
            }
            li:nth-child(5){
                padding-left: 20px;
                height: 50px;    width: 250px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-align: left;
                position: absolute;
                right: 0px;
                background-color: #223f82;
                border-radius: 50px 0px 0px 50px;
                i{
                    font-size: xx-large;
                    color: #aac6fa;
                }
            }
        }
        ul:hover li{
            opacity: .3;
        }
        ul:hover li:hover{
            opacity: 1;
            color: #aac6fa;
        }
    }
    

}
@media (max-width:1050px) {
    .logoDiv{
        width: 150px !important;
    }
    .userMenu{
        ul{
            gap: 20px !important;
            margin: 0px !important;
            li{
                padding: 5px !important;
               
            }
        }
    }
}
@media (max-width:800px) {
    .userMenu{
        width: 60% !important;
        ul{
            gap: 10px;
        }
        li{
            padding: 0px !important;
            font-size: medium !important;
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        li:nth-child(5){
            all: unset;
             height: 40px; width: 100px !important;
                span{
                    display: none;
                }
        }
    }
}
@media (max-width:450px) {
    .header{
        height: 10vh !important;
        img{
            width: 100px !important;
        }
        .logoDiv{
            height: 10vh !important;
        }
    }
    .userMenu{
        width: 100% !important;
        border-radius: 0px !important;
        
        
        li{
            display: none;
        }
        li:nth-child(2){
            display: block;
            margin-left: 30px;
        }
    }
    .resultDiv{
        height: 90vh !important;
    }
}
.resultDiv{
    background-color: rgb(79, 122, 224);
    height: 87vh; width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}